<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/summary.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
