<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css')}}">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
